@media only screen and (max-width: 1920px) {

body {
  background-color: white;
  margin: auto;
}

/* First Header */
.container {
  display: flex;
  background-color: white;
  padding: 18px 0px 15px 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  align-self: center;
  width: 50px;
  height: 60px;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-indent: 20px;
  color: #333333;
}

.container_header {
  display: inline-flex;
  right: 0;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-right: 200px;
  position: absolute;
}

.header_link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-size: 10px;
  text-indent: 10px;
  color: #b0b0b0;
  margin-right: 50px;
}

.header_link:hover {
  color: #a7586d;
}

.header_link2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-indent: 10px;
  color: #7a8caf;
  margin-right: 30px;
  margin-top: -10px;
}  

.header_link2:hover {
  color: #a7586d;
}

/* Second header */
.container_nav {
  text-align: left;
  background-color: #111212;
  width: 100%;
  padding: 10px 0px;
  margin-top: 100px;
  z-index: 2;
  position: fixed;
}

.nav_ul {
  list-style-type: none;
  width: 100%;
}

.nav_li {
  display: inline-block;
  text-indent: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a7586d;
}

/* !!! Mobile don't display  */
.mobilec_container {
  display: none;
}

.menubar {
  display: none;
}

/* Canvas */
.slideshow_container {
  display: block;
  margin-top: 78px; 
}

.slides_fade {
  display: flex;
  text-align: center;
  justify-self: center;
  max-width: auto;
}

/* Next & previous buttons */
.prev, .next {
  top: 50%;
  margin-top: -30px;
  width: auto;
  padding: 16px;
  font-weight: lighter;
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Canvas Caption text */
.text {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: #f2f2f2;
  padding: 8px 12px;
  bottom: 500px;
  position: relative;
}

/* Canvas Paragraph text */
.p_text {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
  padding: 8px 12px;
  bottom: 500px;
  position: relative;
}

.canvas_button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  color: white;
  background-color: transparent;
  bottom: 450px;
  border: 2px solid;
  padding: 15px 15px;
  cursor: pointer;
  position: relative;
}

.active, .canvas_button:hover {
  background-color: #a7586d;
  color: white;
  border-color: white;
}

/* The dots/bullets/indicators */
.dot {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.6s ease;
  bottom: 400px;
  position: relative;
}

.dot.active, .dot:hover {
  background-color: white;
}

/* Sort By and H1 Projects */
.project_container {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.project_header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #7084a9;
  margin-top: -150px;
  margin-bottom: -40px;
  position: relative;
}

.sort_h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #111212;
  padding-right: 20px;
}

/* Sorty by entries */
.selector {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #838888;
  background-color: #eff0f2;
  border-radius: 6px;
  border-color: transparent;
  width: 250px;
  margin-right: 50px;
}

/* The 6 pictures container */
.project_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project_item {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
  transition: transform .2s;
  position: relative;
  justify-content: center;
  text-align: center;
}

.project_item:hover {
  transform: scale(1.1);
}

/* The H1 inside the 6 pictures */
.icon_text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-size: 1vw;
  font-weight: 700;
  color: white;
  display: flex;
  align-self: center;
  position: absolute;
}

.container_questions {
  display: block;
  width: 100%;
  background-color: #c1cadb;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.question_h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #111212;
  padding-bottom: 20px;
}

.accordion {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 18px 50px;
  width: 80%;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  text-align: left;
  color: white;
  background-color: #677ca3;
  font-size: 18px;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  content: '\25B2';
  background-color: #111212; 
}

.accordion:after {
  content: '\25BC';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Inside of the accordion */
.panel {
  display: none;
  width: 75%;
  margin: auto;
  background-color: #c1cadb;
  padding: 30px 18px;
  overflow: hidden;
}

.inside_panel {
  display: flex;
  width: 100%;
  padding: 30px 18px;
  background-color: #c1cadb;
  overflow: hidden;
}

.panel_img {
  width: 50%;
  height: 50%;
  max-width: 200px;
}

/* The paragraphs inside the accordion */
.panel_p {
  display: flex;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  padding-left: 50px;
  margin-top: -10px;
}

.panel_section {
  display: flex;
  margin-left: 270px;
  margin-top: -250px;
}

.panel_p2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #677ca3;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 200px;
  position: relative;
}

.panel_button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: #677ca3;
  border-radius: 6px;
  border: 2px solid #41557a;
  margin-top: 190px;
  margin-left: 50px;
  width: 180px;
  height: 50px;
  position: relative;
}

.panel_button:hover {
  background-color: #a7586d;
  border-color: white;
  color: white;
}

footer {
  background-color: #111212;
  padding-top: 50px;
}

.footer_container {
  display: flex;
}

/* Footer navigation with links */
.footer_ul {
  text-align: center;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.footer_li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 50px;
  color: white;
}

.footer_li_red a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 50px;
  color: #754755;
}

.footer_li_blue a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 50px;
  color: #454f60;
}

.nav_li, a:hover {
  color: #a7586d;
}

/* Last section of the footer where the logo is */
.footer_section {
  display: block;
  text-align: center;
  height: 220px;
}

.footer_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* The footer text that has low opacity */
.opacity_p {
  margin-top: -50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #656766;
}

.last_p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: white;
}
}

/* MOBILE MEDIA Starts from here*/
/* MOBILE MEDIA Starts from here*/
/* MOBILE MEDIA Starts from here*/
@media only screen and (min-width: 400px) and (max-width: 800px) {
  .container {
    display: none;
  }

  /* Navigation mobile */
  .container_nav {
    display: none;
    top: -100px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
  }
  
  .topnav a.icon {
    background: grey;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 7px;
  }
  
  .topnav a:hover {
    background-color: #a7586d;
  }
  
  .active {
    background-color: darkgray;
    color: white;
  }

  .menubar {
    display: block;
    width: 70px;
  }

  .mobile_logo {
    width: 10%;
  }

  /* Mobile Slideshow */
  .slideshow_container {
    display: block;
    margin-top: 0px;
  }

  .slides_fade {
    display: block;
    width: auto;
    height: 450px;
  }

  .text {
    font-size: 20px;
    bottom: 200px;
  }

  .p_text {
    font-size: 15px;
    bottom: 200px;
  }

  .prev, .next {
    display: none;
  }

  .canvas_button {
    bottom: 200px;
  }

  .dot {
    padding: 0px;
    bottom: 250px;
    border-color: black;
  }

  .dot.active, dot:hover {
    background-color: black;
  }

  /* The 6 images */
  .project_box {
    display: block;
    width: 90%;
    margin: auto;
  }

  .icon_text {
    font-size: 20px;
  }

  /* Accordion container */
  .container_questions {
    padding-top: 20px;
    margin-top: 0px;
  }

  .inside_panel {
    display: block;
    text-align: center;
    width: auto;
  }

  .panel_p {
    display: block;
    text-align: center;
    width: 100%;
    padding: 50px 0px 0px 0px;
  }

  .panel_section {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .panel_p2 {
    display: block;
    text-align: center;
    width: auto;
    margin: 0 auto;
  }

  .panel_button {
    margin: 20px;
  }

  /* Footer Section */
  .footer_container{
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0px;
  }

  .footer_section {
    padding-top: 30px;
    height: 150px;
  }
}
